.services {

  &__tabs-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 78px;
    margin-top: 120px;

    @include laptop {
      margin-top: 100px;
      margin-bottom: 60px;
    }

    @include tablet {
      margin-top: 60px;
      margin-bottom: 50px;
    }

    @include mobile-large {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }

  &__list-item {
    width: 20%;

    @include mobile-large {
      width: 33.3333%;
    }

    @include mobile {
      width: 50%;

      &:not(:nth-child(-n + 2)) {

        @include mobile {
          margin-top: 20px;
        }
      }
    }

    &:not(:nth-child(-n + 3)) {

      @include mobile-large {
        margin-top: 20px;
      }
    }
  }


  &__tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     & > * {
       color: #888;
     }
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    margin-bottom: 36px;

    @include tablet {
      margin-bottom: 28px;
      font-size: 36px;
    }
  }

  &__icon-text {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5.6px;

    @include tablet {
      font-size: 13px;
      letter-spacing: 3px;
    }
  }
}

li.ui-tabs-active .services__tab > * {
  color: #111;
}