.services {

  &__tabs-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
    margin-top: 120px;
  }


  &__tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     & > * {
       color: #888;
     }
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    margin-bottom: 36px;
  }

  &__icon-text {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5.6px;
  }
}

li.ui-tabs-active .services__tab > * {
  color: #111;
}