.contact {

  &__container {
    padding: 0 15px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-bottom: 94px;

    @include tablet {
      margin-bottom: 80px;
    }
    @include mobile-large {
       margin-bottom: 60px;
     }
    @include mobile {
      margin-bottom: 40px;
    }

  }
  
  &__btn {
    background-color: #111;
    color: #fff;
    width: 23px;
    height: 23px;
    margin-right: 16px;
    margin-bottom: 0;

    & > * {
      transform: rotate(-45deg);
      font-size: 11px;
    }

    @include tablet {
      margin-right: 12px;
    }
  }
  &__item-title {
    color: #777777;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3.6px;
    line-height: normal;
    text-transform: uppercase;
  }

  &__item-tel {
    color: #444;
    line-height: 24px;
  }

  &__form {
    margin-top: 80px;

    @include tablet {
      margin-top: 60px
    }
    @include mobile-large {
      margin-top: 40px
    }
    @include mobile {
      margin-top: 30px
    }
  }

  &__form-input, &__form-textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #777777;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 14px;
    width: 100%;

    &::placeholder {
      color: #777777;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }

    & + & {
      margin-top: 10px;
    }
  }

  &__form-textarea {
    width: 100%;
    height: 104px;
    resize: none;
  }

  &__form-desc {
    padding: 12px 0;
    color: #aaaaaa;
    font-size: 11px;
    font-weight: 400;
    margin-top: 20px;

    &--none {
      display: none;

      @include mobile-large {
        display: block;
      }

      @include mobile {
        margin-top: 0;
      }
    }
  }

  &__form-bottom-wrapper {

    @include mobile-large {
      display: flex;
    }
    @include mobile {
      flex-direction: column;
      text-align: center;

    }
  }

  &__form-btn {
    margin-top: 20px;
    background-color: #111111;
    color: #fff;
    padding: 12px 20px;
    text-align: center;
    opacity: 0.8;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    margin-left: auto;

    @include mobile {
      width: 100%;
      margin-top: 0;
    }
  }
}