.say {
  overflow: hidden;

  &__item {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 18px;
    text-align: center;

    @include tablet {
      max-width: 570px;
    }
  }

  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    width: 61px;
    height: 61px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 4px;

    & > * {
      transform: rotate(-45deg);
      color: #111111;
      font-size: 20px;
      position: absolute;
    }

    @include tablet {
      width: 50px;
      height: 50px;
    }
  }

  .owl-carousel .owl-nav button.owl-next {
    right: -46px;

    & > * {
      left: 12px;
      top: 56%;

      @include tablet {
        left: 9px;
        top: 54%;
      }
    }
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: -46px;

    & > * {
      right: 12px;
      top: 10%;
      @include tablet {
        right: 10px;
        top: 2%;
      }
    }
  }

  .owl-dots {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: -108px;
    transform: translateX(-50%);

    @include laptop {
      bottom: -70px;
    }
    @include tablet {
      bottom: -40px;
    }
    @include mobile {
      bottom: -26px;
    }
  }
  .owl-carousel button.owl-dot {
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 50%;
    border: 1px solid #fff;

    & + .owl-dot {
      margin-left: 6px;
    }
  }
  .owl-carousel button.owl-dot.active {
    background-color: transparent;
  }

  &__img  {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin: 23px 0 38px 0;

    @include mobile-large {
      margin: 12px 0 18px 0;
    }

    @include mobile {
      margin: 8px 0 14px 0;
    }
  }

  &__text {
    color: rgba(#fff, 0.75);
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 30px;

    @include mobile-large {
      margin-bottom: 16px;
      line-height: 20px;
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  &__author {
    color: rgba(#fff, 0.3);
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;

    @include mobile {
      font-size: 10px;
    }
  }
}