.lets-talk {


  &__title {
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 4px;
  }

  &__text {
    color: rgba(#fff, 0.7);
    line-height: 26px;
    margin: 20px 0 30px 0;
  }

  &__img {
    position: absolute;
    top: -172px;
    right: -34px;
    height: 443px;
    width: auto;

    @include laptop {
      height: 370px;
      right: 0;
    }
  }
}