.header {
  height: 100vh;
  background: #a2a2a2 url(../img/bg.jpg) no-repeat center / cover;

  @include mobile-large {
   height: 460px;
  }

  &__logo {
    width: 118px;
    height: auto;
  }

  &__nav {
    min-height: 21px;
    padding: 26px 0;
    width: 100%;
    position: relative;
  }

  &__menu {
    @include mobile-large {
      position: fixed;
      right: 10px;
      z-index: 11;
      width: 50%;
      background-color: rgba(200, 200, 200, 0.7);
      margin-top: 40px;
      border-radius: 4px;
    }
  }

  &__menu-btn {
    display: none;
    position: fixed;
    z-index: 11;
    right: 10px;
    top: 26px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.7);
    cursor: pointer;

    @include mobile-large {
      display: flex;
      flex-direction: column;
    }
  }

  &__menu-btn-bar {
    background-color: #000;
    width: 80%;
    height: 2px;
  }

  &__menu-item {
    color: rgba(#fff, 0.75);
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    transition: all .3s ease;
    padding: 8px;
    border-radius: 4px;

    & + & {
      margin-left: 18px;

      @include mobile-large {
        margin-left: 0;
      }
    }

    &:hover {
      color: #fff;
      font-weight: 400;
      background-color: rgba(255, 255, 255, 0.5);
    }

    @include mobile-large {
      color: #000;
      display: block;
      text-align: right;

      &:hover {
        color: #000;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  &__info {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 100px;
    color: rgba(#fefefe, 0.9);
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 50px;

    @include tablet {
      letter-spacing: 35px;
    }

    @include mobile-large {
      font-size: 24px;
      letter-spacing: 18px;
      margin-bottom: 50px;
    }

    @include mobile {
      font-size: 20px;
      letter-spacing: 10px;
    }
  }

  &__subtitle {
    color: rgba(#fefefe, 0.68);
    font-size: 19px;

    @include mobile-large {
      font-size: 16px;
    }

    @include mobile {
      font-size: 15px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: rotate(45deg);
    margin-bottom: 35px;
    border-radius: 2px;

    & span {
      transform: rotate(45deg);
      display: block;
      margin-top: 6px;
      margin-left: 6px;
    }
  }
}