.about {
  border-bottom: 1px solid rgba(19, 19, 19, 0.08);

  & .row + .row {
    margin-top: 108px;

    @include mobile-large {
      margin-top: 60px;
    }
  }
  & .title {
    margin-bottom: 75px;
  }
}